<div class="home" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img class="img-responsive" src="img/title.png" alt="">
            <a ng-href="#/game">
                <img class="img-responsive" src="img/button_start.png" alt="">
            </a>
            <a ng-href="#/options">
                <img class="img-responsive" src="img/button_options.png" alt="">
            </a>
            <a ng-href="#/credits">
                <img class="img-responsive" src="img/button_credits.png" alt="">
            </a>
        </div>
    </div>
</div>
