<div class="options" ng-controller="optionsCtrl">
    <a class="home-btn" href="#/">
        <img class="img-responsive" src="img/retour.png" alt="">
    </a>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 clocks">
            <h2>Choix de la pendule</h2>
            <div class="row">
                <div class="col-xs-4">
                    <a ng-click="game.selectClock(this)" href=""><img class="img-responsive" src="img/clock1.png" alt=""></a>
                </div>
                <div class="col-xs-4">
                    <a ng-click="game.selectClock(this)" href=""><img class="img-responsive" src="img/clock2.png" alt=""></a>
                </div>
                <div class="col-xs-4">
                    <a ng-click="game.selectClock(this)" href=""><img class="img-responsive" src="img/clock3.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
